[MASTER]
load-plugins=pylint_django
django-settings-module=photofriends.settings
ignore-patterns=manage.py,
                asgi.py,
                wsgi.py,
ignore=migrations


[MESSAGES CONTROL]
disable=missing-module-docstring

ignore-paths=.*/migrations