{% extends "app/base.html" %}
{% load django_bootstrap5 i18n l10n %}

{% block content %}
    <div class="container">

        <div class="col-md-4 offset-md-4">
            <div class="text-center">
                <h1><span class="primary-color">Welcome to album:</span> {{ object.name }}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center  d-flex align-items-stretch">
                <div class="card some-shadow card-custom">
                    <div class="card-header primary-bg">
                        Upload your photos
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data"{% comment %} onsubmit="showProgress();"{% endcomment %}>
                            {% csrf_token %}
                            <div class="form-group">

                                <label for="id_uploader">Name</label>
                                <input type="text" name="uploader" title="Uploader" required
                                       id="id_uploader" class="form-control" placeholder="Your name"/>
                                <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                                       name="files" multiple="" class="form-control-file" title="" required
                                       id="id_files" onchange="uploadFile();" hidden/>
                                <label id="upload-label" for="id_files" class="primary-color">
                                    <span class="text-center">
                                        <i class="far fa-plus-square fa-5x custom-icon"></i>
                                    </span>
                                    <br/>
                                    Add Photos
                                </label>
                            </div>
                        </form>

                        <div class="progress" id="progress" style="display: none">
                            <div class="progress-bar progress-color" id="progress-bar"
                                 role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 0"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-center d-flex align-self-center">
                <div class="card some-shadow card-custom">
                    <div class="card-header primary-bg">
                        Share this album
                    </div>
                    <div class="card-body">
                        <button id="copy" type="button" class="btn button-custom-light" onclick="copyLink();">Copy link to clipboard</button>
                        <button id="share" type="button" class="btn button-custom-light">Share</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 text-center d-flex align-self-center">
                <div class="card some-shadow card-custom">
                    <div class="card-header primary-bg">
                        Download the Album
                    </div>
                    <div class="card-body">
                        <a href="{% url "download" object.id %}" role="button" class="btn button-custom-light">Download</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div id="thumbnails" class="container">
        {% for date, uploads_list in uploads.items %}
            <div class="text-center">
                <span class="date-group">
                    {%  if date %}
                        {{ date|localize }}
                    {% else %}
                        {% trans "No date" %}
                    {% endif %}
                </span>
            </div>
            <div class="row row-cols-auto text-center d-flex justify-content-center">
                {% for upload in uploads_list %}
                    <div class="col-md-2 col-xs-6 col-sm-6 text-center thumbnail">
                        <a href="{{ upload.photo.url }}">
                            <img class="img-fluid img-thumbnail some-shadow" src="{{upload.thumbnail.url}}" alt="Photo">
                        </a>
                        <div class="uploader">
                            <small>{{ upload.uploader }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <script>


        function _(el) {
            return document.getElementById(el);
        }

        function uploadFile() {
            const files = _("id_files").files;
            const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
            const uploader = document.getElementsByName("uploader")[0].value;

            const formdata = new FormData();
            formdata.append("csrfmiddlewaretoken", csrf);
            formdata.append("id_uploader", uploader);
            for (let i = 0; i < files.length; i++) {
                formdata.append("files", files[i]);
            }
            const ajax = new XMLHttpRequest();
            ajax.upload.addEventListener("progress", progressHandler, false);
            ajax.upload.addEventListener("loadstart", uploadStart, false);
            ajax.onload = function(){
                window.location.href = ajax.responseURL;
            };
            ajax.addEventListener("error", errorHandler, false);
            ajax.addEventListener("abort", abortHandler, false);
            ajax.open("POST", "?");
            ajax.send(formdata);
        }

        function uploadStart() {
            _("progress").style.display = "block";
        }

        function progressHandler(event) {
            const percent = (event.loaded / event.total) * 100;
            _("progress-bar").style.width = Math.round(percent) + "%";
            if (percent === 100){
                _("progress-bar").innerHTML = Math.round(percent) + "% {% trans "computing thumbnails..." %}";
            }else{
                _("progress-bar").innerHTML = Math.round(percent) + "%";
            }
        }

        function errorHandler(event) {
            _("status").innerHTML = "Upload Failed";
        }

        function abortHandler(event) {
            _("status").innerHTML = "Upload Aborted";
        }

        function copyLink() {
            navigator.clipboard.writeText(window.location.href);
        }

        const shareButton = _("share");
        shareButton.addEventListener('click', event => {
            if (navigator.share) {
                navigator.share({
                    title: 'Sharing Album {{ object.name }}',
                    url: window.location.href
                }).then(() => {
                })
                    .catch(console.error);
            } else {
            }
        });


        if (navigator.share){
            _("copy").hidden = true;
            _("share").hidden = false;
        }else{
            _("copy").hidden = false;
            _("share").hidden = true;
        }
    </script>
{% endblock %}
