{% extends "app/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-4 offset-md-4 text-center">
            <div class="form-box some-shadow">
                <div class="text-center">
                    <h1>
                        <i class="fa fa-link primary-color"></i></h1>
                    <h1>Photo Friends</h1>
                </div>

                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="text-center">
                        <input class="btn primary-bg-color" type="submit" value="Create" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
