{% extends "app/base.html" %}
{% load django_bootstrap5 i18n l10n %}

{% block content %}
    <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="row">
                <div class="card some-shadow primary-border card-border">
                    <div class="card-body">
                        <div class="text-center">
                            <h1><i class="fa fa-link primary-color"></i></h1>
                            <h1>{% trans "Photo Friends" %}</h1>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="text-center">
                                <input class="btn button-custom-light" type="submit" value="{% trans "Create" %}" />
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <script>
        document.getElementById("id_name").focus();
    </script>

{% endblock %}
