{% load static django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://kit.fontawesome.com/185a5a52f8.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'app/images/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/app/images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/app/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/app/images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/app/images/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "/app/images/safari-pinned-tab.svg"%}" color="#5bbad5">

    <title>{% block title %}Photo Friends{% endblock %}</title>

    {% block headers %}{% endblock %}
</head>

<body>
<div id="main-content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
